In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [5]:
df=pd.read_csv('stroke prediction.csv')

In [6]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [7]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [9]:
df.drop(['work_type','Residence_type','id'],axis=1,inplace=True)

In [10]:
df

,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,85.28,26.2,Unknown,0

In [11]:
# Apply necessary processing on it
# Encode categorical features using label encoding
for col in df.columns:
    if df[col].dtype == 'object':
        labelencoder = LabelEncoder()
        df[col] = labelencoder.fit_transform(df[col])

In [12]:
df

,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,228.69,36.6,1,1
1,0,61.0,0,0,1,202.21,NaN,2,1
2,1,80.0,0,1,1,105.92,32.5,2,1
3,0,49.0,0,0,1,171.23,34.4,3,1
4,0,79.0,1,0,1,174.12,24.0,2,1
...,...,...,...,...,...,...,...,...,...
5105,0,80.0,1,0,1,83.75,NaN,2,0
5106,0,81.0,0,0,1,125.20,40.0,2,0
5107,0,35.0,0,0,1,82.99,30.6,2,0
5108,1,51.0,0,0,1,166.29,25.6,1,0
5109,0,44.0,0,0,1,85.28,26.2,0,0

In [13]:
#Apply preprocessing steps:
df.fillna(df.median(), inplace=True)
#df.drop('column_name', axis=1, inplace=True) # drop any unnecessary columns

In [14]:
df

,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,228.69,36.6,1,1
1,0,61.0,0,0,1,202.21,28.1,2,1
2,1,80.0,0,1,1,105.92,32.5,2,1
3,0,49.0,0,0,1,171.23,34.4,3,1
4,0,79.0,1,0,1,174.12,24.0,2,1
...,...,...,...,...,...,...,...,...,...
5105,0,80.0,1,0,1,83.75,28.1,2,0
5106,0,81.0,0,0,1,125.20,40.0,2,0
5107,0,35.0,0,0,1,82.99,30.6,2,0
5108,1,51.0,0,0,1,166.29,25.6,1,0
5109,0,44.0,0,0,1,85.28,26.2,0,0

In [15]:
#Separate features and target variable:
X = df.drop('stroke', axis=1)
y = df['stroke']

In [16]:
X

,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,smoking_status
0,1,67.0,0,1,1,228.69,36.6,1
1,0,61.0,0,0,1,202.21,28.1,2
2,1,80.0,0,1,1,105.92,32.5,2
3,0,49.0,0,0,1,171.23,34.4,3
4,0,79.0,1,0,1,174.12,24.0,2
...,...,...,...,...,...,...,...,...
5105,0,80.0,1,0,1,83.75,28.1,2
5106,0,81.0,0,0,1,125.20,40.0,2
5107,0,35.0,0,0,1,82.99,30.6,2
5108,1,51.0,0,0,1,166.29,25.6,1
5109,0,44.0,0,0,1,85.28,26.2,0

In [17]:
y

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

In [18]:
# Use the SelectKBest class from the sklearn.feature_selection module to 
# select the top K features based on mutual information scores.
from sklearn.feature_selection import SelectKBest, chi2

# The chi2 score is used for mutual information scores
k_best = SelectKBest(chi2, k='all')
k_best

SelectKBest(k='all', score_func=<function chi2 at 0x0000013BB7E36F80>)

In [19]:
# Fit the feature selection model on the 
# dataset and transform the feature matrix accordingly.
X_new = k_best.fit_transform(X, y)
X_new

array([[  1.  ,  67.  ,   0.  , ..., 228.69,  36.6 ,   1.  ],
       [  0.  ,  61.  ,   0.  , ..., 202.21,  28.1 ,   2.  ],
       [  1.  ,  80.  ,   0.  , ..., 105.92,  32.5 ,   2.  ],
       ...,
       [  0.  ,  35.  ,   0.  , ...,  82.99,  30.6 ,   2.  ],
       [  1.  ,  51.  ,   0.  , ..., 166.29,  25.6 ,   1.  ],
       [  0.  ,  44.  ,   0.  , ...,  85.28,  26.2 ,   0.  ]])

In [20]:
# To print the indices of the selected features
selected_feature_indices = k_best.get_support(indices=True)
print(selected_feature_indices)

# To print the names of the selected features
selected_feature_names = X.columns[selected_feature_indices]
print(selected_feature_names)

[0 1 2 3 4 5 6 7]
Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'avg_glucose_level', 'bmi', 'smoking_status'],
      dtype='object')

In [21]:
from sklearn.model_selection import train_test_split 
##Split the dataset into training and testing sets:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
print("shape of input - training set", X_train.shape)
print("shape of output - training set", y_train.shape)
print("shape of input - testing set", X_test.shape)
print("shape of output - testing set", y_test.shape)

shape of input - training set (4088, 8)
shape of output - training set (4088,)
shape of input - testing set (1022, 8)
shape of output - testing set (1022,)

In [32]:
from sklearn.linear_model import LogisticRegression
# Train a logistic regression model on the training set
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

C:\Users\Muralikrishna\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
# Evaluate the model's performance on the test set
y_pred_logreg = logreg.predict(X_test)

In [34]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_logreg)

0.9393346379647749

In [37]:
from sklearn.metrics import confusion_matrix, classification_report
print(confusion_matrix(y_test, y_pred_logreg))
print(classification_report(y_test, y_pred_logreg))

[[960   0]
 [ 62   0]]
              precision    recall  f1-score   support

           0       0.94      1.00      0.97       960
           1       0.00      0.00      0.00        62

    accuracy                           0.94      1022
   macro avg       0.47      0.50      0.48      1022
weighted avg       0.88      0.94      0.91      1022

C:\Users\Muralikrishna\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Muralikrishna\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Muralikrishna\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [42]:
import pickle

In [43]:
with open("logistic_regression_model.pkl","wb") as f:
    pickle.dump(logreg,f)